<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.weather.mapper.ShortMapper">
    <!--  c  -->
    <insert id="insert">
    INSERT INTO weather.tbl_short
    (nx, ny, baseDate, baseTime, response)
    VALUES(#{nx}, #{ny}, #{baseDate}, #{baseTime}, #{response});
    </insert>

    <!--  R  -->
    <select id="select" resultType="shortVO">
    SELECT nx, ny, baseDate, baseTime, response
    FROM weather.tbl_short
    where nx = #{nx} and ny = #{ny} and baseDate = #{baseDate} and baseTime =#{baseTime};
    </select>
</mapper>